.subscribers-by-channel-tooltip {
  //   width: 120% !important;
  background-color: var(--white-color) !important;
  height: 60px;
  text-align: center !important;
  padding: 20px !important;
  border: 0px !important;
  border-color: transparent !important;
  font-size: 14px !important;
}

.subscribers-by-channel-tooltip-value {
  margin-top: 0% !important;
  margin-bottom: -0%;
  border: 0px !important;
  border-color: transparent !important;
  color: var(--black-color) !important;
}
