.dashboard {
  padding: 2rem;
  padding-top: 0;
  height: 100%;
  .grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    margin-top: 2rem;

    .row__two {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      height: 50%;
      border: 1px solid var(--white-color);
    }

    .statistics {
      display: flex;
      justify-content: space-between;

      .left {
        flex: 2;
        color: var(--white-color);
      }
      .right {
        color: var(--white-color);
        display: flex;
        margin-left: 20px;
        padding: 0;
        border-radius: 1rem;
        flex: 1;
      }
    }

    .filters {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 2;
        color: var(--white-color);

        .filter-group {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .info {
          color: var(--black-color);
        }
      }
      .right {
        color: var(--white-color);
        display: flex;
        margin-left: 20px;
        padding: 0;
        border-radius: 1rem;
        flex: 1;
      }
    }
    .top-statistics {
      display: flex;
      justify-content: space-between;
      .statsWrapper {
        flex: 1;
        margin-right: 10px;
      }
    }
  }
}
