.filter {
    .currency-btn {
        border: 1px solid #000;
        color: #000;
        text-transform: none;
      }

      .day-filter{
        color: #000;
        text-transform: none;
        font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;
      }

      .active {
          
       
          color: #EF2C5A;
        
      }
}