.filter {
    .currency-btn {
        border: 1px solid #000;
        color: #000;
        text-transform: none;
      }

      .day-filter{
        color: #000;
        text-transform: none;
      }

      .active {
          
       
          color: #EF2C5A;
        
      }
}