@font-face {
    font-family: "General Sans";
    src: local("GeneralSans"),
      url("./assets/fonts/GeneralSans-Variable.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    src: local("Inter"),
      url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "General Sans";
  background-color: var(--white-color);
  --primary-color: #EF2C5A;
  --shade-black-color: #0A0A0A;
  --shade-black-color-700: #484848;
  --shade-black-color-400: #8D8D8D;
  --shade-grey-color-700: #565C69;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --shade-grey-100: #EDEDED;
  --grey-100: #F0F0F0;
  --klasha-white: #FFFBF7;
  --shade-grey-50:#F7F7F7;
  --shade-black-600: #5F5F5F;
  --shade-grey-300: #A39D9E;
  --shade-grey-200: #E8E8E8;
}

.heading {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--shade-black-color);
}

a {
  text-decoration: none;
}

.primary-btn {
    border: 1px solid  var(--shade-black-color) !important;
    border-radius: 8px !important;
    color:  var(--shade-black-color) !important;
}

.right-margin-spacer {
  margin-right: 0.6rem !important;
}


.left-margin-spacer {
  margin-left: 0.6rem !important;
}

