.transactions {
  padding: 2rem;
  padding-top: 0;
  height: 100%;
  .grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    
  }
  .transactions-container {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #F0F0F0;
    border-radius: 8px 8px 0px 0px;
    margin-top: 3rem;
}
.heading-section {
  padding: 16px;
}
}

